
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
}

.icon-xingzhuang:before { content: "\e61f"; }

.icon-zhixian:before { content: "\e6f3"; }

.icon-icon-protractor:before { content: "\e62d"; }

